body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header {
  display: flex;
  align-items: center;
  background-color: #800116;
  height: 65px;
  color: white;
}
.troll {
  max-width: 70px;
  height: 70px;
  margin-left: 6px;
}
.header-title {
  font-size: 1.25rem;
  margin-right: auto;
}
.header-text {
  font-size: .75rem;
  font-weight: 500;
}
.inputs {
  padding: 40px 30px;
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 7px;
  align-items: center;

}
.main {
  padding: 36px;
}
.meme-text{
  font-family: "Karla", sans-serif;
  border: none;
  border-bottom: 2px solid red;
  width: 400px;
}
.meme-text:focus{
  border: none;
  border-bottom: 2px solid red;
 
}
.meme-button {
  grid-column: 1 / -1;
  
}
